# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Builds
dist/
build/
client/dist/

# Environment
.env
.env.*

# Uploads
server/uploads/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/