*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,
body,
#root{
    width:100%;
    height:100%;
}

body{

    font-family:Inter,Segoe UI,sans-serif;

    color:white;

    overflow:hidden;

    background:
    radial-gradient(circle at top left,#4F46E522,transparent 40%),
    radial-gradient(circle at bottom right,#7C3AED22,transparent 40%),
    #09090B;

}

a{

    color:white;

    text-decoration:none;

}

button{

    cursor:pointer;

    border:none;

    transition:.25s;

}

button:hover{

    transform:scale(1.05);

}

input{

    outline:none;

}

::-webkit-scrollbar{

    width:7px;

}

::-webkit-scrollbar-thumb{

    background:#6D28D9;

    border-radius:20px;

}

::-webkit-scrollbar-track{

    background:transparent;

}